@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .vertical-scrollbar::-webkit-scrollbar {
    position: absolute;
    width: 6px;
  }
  .vertical-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
    /* padding: 2px; */
  }
  .vertical-scrollbar::-webkit-scrollbar-thumb {
    background: #5a5a5a;
    border-radius: 100vh;
    border: 2px solid #5a5a5a;
    cursor: pointer;
  }
  .vertical-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #646464;
  }
}

:root {
  --accent-color: rgba(246, 184, 70); /*#f6b846*/
  --accent-color-10: rgba(246, 184, 70, 0.02); /* 10% opacity */
  --accent-color-80: rgba(246, 184, 70, 0.8); /* 60% opacity */
  --light-bg: rgb(246, 246, 246);
  --dark-bg: rgb(22, 22, 22);

  --gradient-to-right: radial-gradient(
    ellipse at left,
    #ddd 0%,
    rgba(255, 255, 255, 0) 70%
  );

  --gradient-to-bottom: radial-gradient(
    ellipse at top,
    #ddd 0%,
    rgba(255, 255, 255, 0) 70%
  );

  --gradient-center: radial-gradient(
    ellipse at top,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );

  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  /* background-color: #0f0f0f; */
  background-color: var(--light-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
  transition-duration: 200ms;
}

:root.dark {
  background-color: var(--dark-bg);
}

@media (max-width: 480px) {
  :root {
    scroll-padding-top: calc(var(--header-height) + 25px);
  }
}

@media (max-width: 767px) {
  :root {
    scroll-padding-top: calc(var(--header-height) + 15px);
  }
}

@media (max-width: 991px) {
  :root {
    scroll-padding-top: 15px;
  }
}

body {
  font-family: "Lekton", monospace;
  margin: 0;
  position: relative;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--light-bg);
  transition: background-color 0.5s ease, color 0.3s ease;
}

body.dark {
  --gradient-to-right: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );

  --gradient-to-bottom: linear-gradient(
    to bottom,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 80%
  );

  --gradient-center: radial-gradient(
    ellipse at right,
    rgba(197, 202, 213, 0.35) 0%,
    rgba(255, 255, 255, 0) 70%
  );

  background-color: var(--dark-bg);
}

/* Cyberlines */
#cyberlines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  display: none;
}

.line {
  fill: var(--accent-color-10);
}
.lights {
  fill: var(--accent-color-80);
}

/* LoadingAnimation */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  animation: color_5881 1.2s ease-in-out infinite;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

.lds-spinner div:nth-child(1)::after {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2)::after {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3)::after {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4)::after {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5)::after {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6)::after {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7)::after {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8)::after {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9)::after {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10)::after {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11)::after {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12)::after {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes color_5881 {
  0% {
    background-color: rgba(246, 184, 70, 0.5);
  }

  25% {
    background-color: rgba(246, 184, 70, 0.9);
  }

  50% {
    background-color: rgba(246, 184, 70, 0.5);
  }

  75% {
    background-color: rgba(246, 184, 70, 0.9);
  }

  100% {
    background-color: rgba(246, 184, 70, 0.5);
  }
}

/* Text Animation */
.container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation {
  position: relative;
  width: 100%;
  height: 50px; /* Adjust height based on your text size */
  overflow: hidden;
}

.text-wrapper {
  position: relative;
  height: 100%;
}

.text {
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(-100%); /* Start above the view */
  animation: textSlide 4s ease-in-out infinite;
}

.text.first {
  animation-delay: 0s; /* First text starts immediately */
}

.text.second {
  animation-delay: 1.33s; /* Second text appears after 1 second */
}

.text.third {
  animation-delay: 2.66s; /* Third text appears after 2 seconds */
}

@keyframes textSlide {
  0% {
    opacity: 0;
    transform: translateY(-100%); /* Above the view */
  }
  10%,
  30% {
    opacity: 1;
    transform: translateY(0); /* Centered and visible */
  }
  40% {
    opacity: 0;
    transform: translateY(100%); /* Move downwards */
  }
  100% {
    opacity: 0;
    transform: translateY(100%); /* Continue moving down out of view */
  }
}
