@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .vertical-scrollbar::-webkit-scrollbar {
    position: absolute;
    width: 6px;
  }
  .vertical-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
    /* padding: 2px; */
  }
  .vertical-scrollbar::-webkit-scrollbar-thumb {
    background: #5a5a5a;
    border-radius: 100vh;
    border: 2px solid #5a5a5a;
    cursor: pointer;
  }
  .vertical-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #646464;
  }
}

:root {
  --light-bg: rgb(246, 246, 246);
  --dark-bg: rgb(22, 22, 22);

  --gradient-to-right: radial-gradient(
    ellipse at left,
    #ddd 0%,
    rgba(255, 255, 255, 0) 70%
  );

  --gradient-to-bottom: radial-gradient(
    ellipse at top,
    #ddd 0%,
    rgba(255, 255, 255, 0) 70%
  );

  --gradient-center: radial-gradient(
    ellipse at top,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );

  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  /* background-color: #0f0f0f; */
  background-color: var(--light-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
  transition-duration: 200ms;
}

:root.dark {
  background-color: var(--dark-bg);
}

@media (max-width: 480px) {
  :root {
    scroll-padding-top: calc(var(--header-height) + 25px);
  }
}

@media (max-width: 767px) {
  :root {
    scroll-padding-top: calc(var(--header-height) + 15px);
  }
}

@media (max-width: 991px) {
  :root {
    scroll-padding-top: 15px;
  }
}

body {
  font-family: "Lekton", monospace;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background-color: rgb(246, 246, 246); */
  background-color: var(--light-bg);
  transition: background-color 0.5s ease, color 0.3s ease;
}

body.dark {
  --gradient-to-right: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );

  --gradient-to-bottom: linear-gradient(
    to bottom,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 80%
  );

  --gradient-center: radial-gradient(
    ellipse at right,
    rgba(197, 202, 213, 0.35) 0%,
    rgba(255, 255, 255, 0) 70%
  );

  /* background-color: rgb(22, 22, 22); */
  background-color: var(--dark-bg);
}
